ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    padding: 10px;
}

.right{
    float: right;
}

.topNav{
    /* display: flex; */
    background-color: rgb(25, 35, 41);
    overflow: hidden;
    padding: 20px;
}

.topNav a{
    /* float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: auto;
    /* margin: 10px 0px 30px 0px; */
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
}

.topNav a:hover {
    background-color: rgb(255, 25, 134);
    color: #f2f2f2;
}

.topNav button{
    /* float: left; */
    background-color: rgb(255, 25, 134);
    color: #f2f2f2;
    text-align: center;
    border: none;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#number{
    color: #f2f2f2;
    text-align: center;
    border: 10px;
    border-color: rgb(255, 25, 134);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}